#shopping {
    display: none;
}

.images .navbar-brand img {
    width: 170px;
}

#filter button {
    font-size: 12px;
}

#special-price .grid .grid-item {
    display: inline;
    margin-left: 1rem;
}

.grid .grid-item .item {
    width: 178px;
}

#top-sale .owl-carousel .owl-nav button.owl-next span {
    margin-right: 0;
}

#top-sale .owl-carousel .owl-nav button.owl-prev span {
    margin-left: 0;
}

#searc{
    padding-right: 0;
    font-size: 14px;
    padding-left: 1px;
}
#searc::placeholder {
    font-size: 12px;
}

#button-addon1 {
    font-size: 12px;
    padding: 0 1px 0 5px;
}

#map .container ul {
    font-size: 11px;
}

.icons span {
    font-size: 12px;
}
