@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F9FA;
}

.font-baloo {
    font-family: "Baloo Thambi 2", cursive;
}

.font-rale {
    font-family: "Raleway", cursive;
}

.font-rubik {
    font-family: "Rubik", cursive;
}

.font-poppins {
    font-family: "Poppins", cursive;
}

.color-primary {
    color: #003859;
}

.color-second {
    color: #00A5C4;
}

.color-yellow {
    color: #FFD289;
}

button,
button:focus {
    outline: none !important;
    box-shadow: none !important;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}

#nav {
    background-color: #414449;
    font-size: 15px;
    border-top: 3px solid #FFC107;
    border-bottom: 3px solid #FFC107;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

@media(min-width: 1200px) {
    #nav #cssmenu>ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.grid .grid-item .item {
    height: 320px;
    overflow: hidden;
    width: 178px;
    background: #fff;
}

.grid .grid-item .text-center h6 {
    margin: 0.5 0.6rem;
    padding: 0.5rem;
    display: block;
    font-size: 14px;
}



#special-price .grid .grid-item {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}


/*  top sale template   */
#top-sale .owl-carousel .item .product a {
    overflow: hidden;
}

#top-sale .owl-carousel .item .product img {
    transition: transform 0.5s ease;
}

#top-sale .owl-carousel .item .product img:hover {
    transform: scale(1.1);
}

#top-sale .owl-carousel .owl-nav button {
    position: absolute;
    top: 30%;
    outline: none;
}

#top-sale .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

#top-sale .owl-carousel .owl-nav button.owl-prev span,
#top-sale .owl-carousel .owl-nav button.owl-next span {
    font-size: 35px;
    color: #003859;
    padding: 0 1rem;
}

#top-sale .owl-carousel .owl-nav button.owl-prev span {
    margin-left: -4rem;
}

#top-sale .owl-carousel .owl-nav button.owl-next {
    right: 0;
}

#top-sale .owl-carousel .owl-nav button.owl-next span {
    margin-right: -4rem;
}


.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-20 {
    font-size: 20px;
}

#searc::placeholder {
    font-size: 14px;
}

@media only screen and (max-width: 375px) {
    .grid .grid-item .item {
        width: 160px !important;
    }

    #searc::placeholder {
        font-size: 9px !important;
    }

    #button-addon1 {
        font-size: 12px !important;
        padding: 0 1px 0 5px !important;
    }

    #searc {
        padding: 0 !important;
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 320px) {
    .grid .grid-item .item {
        width: 135px !important;
    }

    #filter button {
        font-size: 10px !important;
    }

    #searc::placeholder {
        font-size: 11px !important;
    }

    #button-addon1 {
        font-size: 12px !important;
        padding: 0 1px 0 5px !important;
    }

    #searc {
        padding: 0 1px 0 5px !important;
        font-size: 12px !important;
    }

    #head {
        flex-direction: column !important;
    }

    #map .container ul {
        font-size: 9px !important;
    }

    .phones {
        font-size: 10px !important;
    }
}

.grid .grid-item>a {

    color: inherit;
    text-decoration: inherit;

}

.price-old {
    text-decoration: line-through;
}

.indirim {
    background: red;
    padding: 0.20rem 0.5rem;
    color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 15px;
    left: 0;
    letter-spacing: 0.5px;
    opacity: 0.8;
}

.in {
    padding: 0 .25rem !important;
    border: 2px solid;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
}

#header {
    background-color: #F8F9FA !important;
}

#menu-button::before {
    box-sizing: unset !important;
}

#menu-button::after {
    box-sizing: unset !important;
}

#map .container ul {
    display: flex;
    align-items: center;
    border-bottom: solid #f2f2f2 1px;
}

#map .container ul li {
    list-style: none;
    padding-right: 2rem;
}

#map .container ul li a {
    color: inherit;
    opacity: 0.7;
}

#map .container ul li a.active {
    text-decoration: underline;
    font-weight: 700;
}

/*Product Detail Page Style*/
.product-detail {
    display: inline-block;
    float: left;
    width: 100%;
    padding: 45px 0;
}

.product-detail h3 {
    font-size: 24px;
    padding: 15px 0;
}

.product-detail-left {
    float: left;
    width: 40%;
}

.product-detail-right {
    float: right;
    width: 55%;
}

.product-detail-right h3 {
    font-size: 22px;
    line-height: 24px;
    padding-top: 0;
}

.product-detail-right h3 small {
    font-size: 14px;
    color: gray;
}

.product-detail-right h5 {
    font-size: 18px;
    margin-bottom: 20px;
    color: gray;
}

.product-detail-right h5 b {
    color: #000;
}

.product-detail-right .addtocart {
    border: 1px solid;
    color: #ffa800;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    display: inline-block;
}

.product-detail-right .writereview {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    margin-left: 20px;
    display: inline-block;
}

.product-detail-right .buynow {
    border: 1px solid #ffa800;
    background-color: #ffa800;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 4px;
    margin-top: 20px;
    width: 60%;
    text-align: center;
    display: inline-block;
}

.product-detail-feature {
    width: 100%;
    float: left;
    display: inline-block;
    margin-top: 25px;
    padding: 15px;
    background-color: #ffa8001a;
}

.product-detail-feature h3 {
    font-weight: 500;
    border-bottom: 1px solid;
}

.product-detail-feature p {
    padding: 15px 0;
    font-size: 18px;
    border-bottom: 1px solid #dedede;
    width: 50%;
    float: left;
}

.product-detail .sp-wrap {
    max-width: 100%;
}

.product-detail-left img {
    max-width: inherit;
}


.pd-wrap {
    font-family: 'Poppins', sans-serif;
}

.heading-section {
    text-align: center;
    margin-bottom: 20px;
}

.sub-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.heading-section h2 {
    font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    min-width: 80px;
    background-size: 100%;
}

.carousel-testimonial .item {
    padding: 30px 10px;
}

.quote {
    position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}

.name {
    margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}

.position {
    color: #adadad;
    font-size: 14px;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
    height: 25px;
}

.owl-nav button svg {
    width: 25px;
    height: 25px;
}

.owl-nav button.owl-prev {
    left: 25px;
}

.owl-nav button.owl-next {
    right: 25px;
}

.owl-nav button span {
    font-size: 45px;
}

.product-thumb .item img {
    height: 100px;
}

.product-name {
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 4px;
}

.product-price-discount {
    font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
}

.product-price-discount span.line-through {
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}

.display-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.product-info {
    width: 100%;
}

.reviews-counter {
    font-size: 13px;
}

.reviews-counter span {
    vertical-align: -2px;
}

.rate {
    float: left;
    padding: 0 10px 0 0;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color: #ccc;
    margin-bottom: 0;
    line-height: 21px;
}

.rate:not(:checked)>label:before {
    content: '\2605';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

.product-dtl p {
    font-size: 14px;
    line-height: 24px;
    color: #7a7a7a;
}

.product-dtl .form-control {
    font-size: 15px;
}

.product-dtl label {
    line-height: 16px;
    font-size: 15px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.product-count {
    margin-top: 15px;
}

.product-count .qtyminus,
.product-count .qtyplus {
    width: 34px;
    height: 34px;
    background: #212529;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}

.product-count .qtyminus {
    border-radius: 3px 0 0 3px;
}

.product-count .qtyplus {
    border-radius: 0 3px 3px 0;
}

.product-count .qty {
    width: 60px;
    text-align: center;
}

.round-black-btn {
    border-radius: 4px;
    background: #F73D04;
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    /* margin-top: 20px; */
    border: solid 1px #212529;
    transition: all 0.5s ease-in-out 0s;
    font-size: 18px;
    letter-spacing: 1px;
}

.round-black-btn:hover,
.round-black-btn:focus {
    background: #212529;
    color: #fff;
    text-decoration: none;
}

.product-info-tabs {
    margin-top: 25px;
}

.product-info-tabs .nav-tabs {
    border-bottom: 2px solid #d8d8d8;
}

.product-info-tabs .nav-tabs .nav-item {
    margin-bottom: 0;
}

.product-info-tabs .nav-tabs .nav-link {
    border: none;
    border-bottom: 2px solid transparent;
    color: #323232;
}

.product-info-tabs .nav-tabs .nav-item .nav-link:hover {
    border: none;
}

.product-info-tabs .nav-tabs .nav-item.show .nav-link,
.product-info-tabs .nav-tabs .nav-link.active,
.product-info-tabs .nav-tabs .nav-link.active:hover {
    border: none;
    border-bottom: 2px solid #d8d8d8;
    font-weight: bold;
}

.product-info-tabs .tab-content .tab-pane {
    padding: 30px 20px;
    font-size: 15px;
    line-height: 24px;
    color: #7a7a7a;
}

.review-form .form-group {
    clear: both;
}

.mb-20 {
    margin-bottom: 20px;
}

.review-form .rate {
    float: none;
    display: inline-block;
}

.review-heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #000;
}

.review-form .form-control {
    font-size: 14px;
}

.review-form input.form-control {
    height: 40px;
}

.review-form textarea.form-control {
    resize: none;
}

.review-form .round-black-btn {
    text-transform: uppercase;
    cursor: pointer;
}

#searc {
    background: none !important;
}

.pd-wrap .container {
    padding: 0;
}

.pd-wrap .container .row {
    margin-right: 0 !important;
}

#slider,
#thumb {

    width: 100%;
    max-width: 450px;
    height: auto;
}

#header form a {
    text-decoration: inherit;
}

#a button {
    padding: 1px 6px;
}

.icons span {
    font-size: 14px;
}
